parameters:
    level: 8
    bootstrapFiles:
        - tests/bootstrap.php
    ignoreErrors:
        -
            identifier: missingType.generics
        -
            identifier: missingType.iterableValue
        -
            identifier: trait.unused
            path: src/Controller/AutocompleteTrait.php
